.Toolbar {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #151e35;
}
.ToolbarTop{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #151e35;
    #align-items: center;
    z-index: 90;
    position: relative;
}
.ToolbarBottom{
    height: 30px;
    width: 100%;
    display: flex;
    background-color: #151e35;
    align-items: center;
    z-index: 90;
    color: white;
}

.TextWrapper{
    width:300px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    color: white;
}
.TextWrapper h2{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
    line-height: 30px;
    font-weight: 300;
}
.TextWrapper h3{
    margin: 0;
    padding: 10px 10px;
    color: white;
    font-size: 22px;
    line-height: 24px;
    font-weight: 100;
}

.Logo{
    margin-top: 10px;
    margin-right: 10px;
    height: fit-content;
    #padding: 10px 10px;
    padding: 0px;
    border-radius:5px;
    border: 1px solid white;
    align-items: center;
    text-align: center;
    background-color: white;
}

.DesktopOnly{
    height: 30px;
}

@media (max-width: 599px) {
    .Logo img{
        width:75px;
    }
    .TextWrapper H2{
        font-size: 30px;
        line-height: 20px;
    }
    .TextWrapper H3{
        padding: 5px 5px;
        font-size: 18px;
        line-height: 20px;
        }

    .DesktopOnly{
        display: none;
       
        
    }
}