.NavigationItem{
    margin: 0;
    padding: 6px 3px;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 16px;

    
}

.NavigationItem a{
    color: #333;
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: bold;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(15, 15, 115);
    

}

@media (min-width: 600px) {
    .NavigationItem {        
        height: 100%;
        margin: 0;
        width: auto;
        align-items: center;

    }
    .NavigationItem a{        
        color:white;
        padding: 6px 10px;
        height: 100%;
  
    }

    .NavigationItem a:hover,
    .NavigationItem .active,
    .active, 
    .NavigationItem a:active {
        background-color:  #beb8b8;
        border-bottom: 4px solid white;;

    }
}