.titleMobileTextCaption {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
}
.titleTextCaption {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
}
.Content {
  padding: 10px 20px 20px 20px;
}
.Footer {
  background-color: #FFF;
}
.FooterInner {
  background-color: #151e35;
  color: white;
  width: 100%;
  padding-top: 10px;
  margin: 0px;
}
.IconRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.IconRowItem {
  width: 20% px;
}
.FooterInner .InnerTitle {
  color: white;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.FooterInner P {
  padding-left: 10px;
  line-height: 30px;
  margin-bottom: 5px;
  font-size: 14px;
}
.Copyright {
  text-align: center;
  font-size: 14px;
}
.FooterSeperator {
  text-align: center;
  padding: 3px 0;
}
@media (max-width: 600px) {
  .Copyright {
    font-size: 10px;
  }
}
