@import url("../../less/vars.less");

.Content {
  padding: @contentPadding;
}
.Footer {
  background-color: #FFF;


}
.FooterInner {
  background-color: @backColorMain;
  color: white;
  width:100%;
  padding-top:10px;
  margin: 0px;

}
.IconRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.IconRowItem{
  width:20%px
}
.FooterInner .InnerTitle{
  color:white;
  padding-right: 10px;
  font-size: @fontSizeSecondary;
  font-weight: bold;
}
.FooterInner P{
  padding-left: 10px;
  line-height: 30px;
  margin-bottom: 5px;
  font-size: @fontSizeSecondary;
}
.Copyright{
  text-align: center;
}

.FooterSeperator {
  text-align: center;
  padding:3px 0;
}
@media(max-width: 600px){

}