.titleMobileTextCaption {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
}
.titleTextCaption {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
}
.Category {
  padding: 5px 5px 20px 5px;
  margin: 10px;
  position: relative;
  text-align: center;
}
.ImgText {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
  text-align: left;
  font-style: italic;
}
.ImgText A:link,
.ImgText A:visited,
.ImgText A:active {
  color: #676767;
}
.Ruby A:hover {
  color: red;
}
.Sapphire A:hover {
  color: blue;
}
.Emerald A:hover {
  color: green;
}
@media (max-width: 600px) {
  .ImgText {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Slab ,Helvetica Neue ,Helvetica,Arial,sans-serif';
  }
}
