@import url("../less/vars.less");

.Category {
  padding: 5px 5px 20px 5px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.ImgText{
  .titleTextCaption();
  text-align: left;
  font-style: italic;
}


@media (max-width: 600px) {
  .ImgText {
    .titleMobileTextCaption();
  }

}